/.env
/cover.out
/internal/v0/app/.env
.env

/.idea/
/bin/.env
/log.txt

.vscode
/session.txt
/settings/services_add.txt
/settings/services_add2.txt
/bin/session.txt
/updates.bolt.db
/log/log.jsonl
/peers.pebble.db/
/bin/sql_rapira/
/bin/settings/services_add.txt
/telegram_users_rapira.json
/bin/telegram_users_rapira.json
